.Inspection-CreateForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.Inspection-Input {
  width: 100%;
  height: 35px;
  background-color: #b7763973;
  border: 2px solid var(--secondary-text);
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.Inspection-Actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.Inspection-Button {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--primary-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border: none;
  padding: 12px 34px;
  font-size: 16px;
  cursor: pointer;
}
