@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Card {
  width: 100%;
  min-height: 140px;
  background-color: var(--background);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.Card-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Card-nav-title {
  color: var(--primary-text);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.Card-nav-subtitle {
  color: var(--primary-text);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

.Card-nav-date {
  color: var(--primary-text);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.Card-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-top: 4px;
}

.Card-meta p {
  font-size: 13px;
  color: var(--primary-text);
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  opacity: 0.95;
}

.Card-footer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.Card-footer-primarybutton {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--primary-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border: none;
  padding: 12px 34px;
}

.Card-footer-secondarybutton {
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--primary-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border: none;
  padding: 12px 23px;

}