.Hives-NewHiveButton {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--primary-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border: none;
  padding: 12px 34px;
  margin: 3px;
  font-size: 16px;
  min-width: 32px;
  min-height: 44px;
}

.Hives-SecondaryButton {
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--primary-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border: none;
  padding: 12px 34px;
  margin: 3px;
  font-size: 16px;
  min-width: 32px;
  min-height: 44px;
}

.Hives-CreateHiveForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.Hives-CreateHiveForm input {
  width: 100%;
  height: 35px;
  background-color: var(--body);
  border: 2px solid var(--secondary-text);
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.Hives-CreateHiveActions {
  display: flex;
  gap: 8px;
}

.Hives-NewHiveInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--secondary-text);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
