body,
html {
  background-color: var(--body);
  margin: 0;
}

.App {
  width: 100vw;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}